[Unit]
Description=Loguard Watchdog Check Timer (Every Minute)
Documentation=https://github.com/Nowafen/Loguard

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
